# Pasta NewsApp
NewsApp/venv
NewsApp/.env

# pasta InventoryControlApp
InventoryControlApp/venv

# pasta TrabalhoFinal
TrabalhoFinal/backend/venv
TrabalhoFinal/backend/.env
TrabalhoFinal/frontend/.env
